<!DOCTYPE html>
<html>
<head>
    <title>Актуальная база Респондентов</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <div class="container">
        <!-- Заголовок страницы -->
        <h1>Актуальная база Респондентов</h1>

        <!-- Форма поиска -->
        <form method="GET">
            <div class="input-group mb-3">
                <input type="text" name="search" class="form-control" placeholder="Поиск">
                <div class="input-group-append">
                    <button type="submit" class="btn btn-primary">Искать</button>
                </div>
            </div>
        </form>

        <!-- Таблица с данными респондентов -->
        <table class="table">
            <thead>
                <tr>
                    <th>Полное наименование организации</th>
                    <th>ОКВЭД</th>
                    <th>ОКПО</th>
                    <th>ИНН</th>
                    <th>Телефон</th>
                    <th>Дополнительный Телефон</th>
                    <th>Email</th>
                    <th>Email дополнительный</th>
                </tr>
            </thead>
            <tbody>
                <!-- Цикл для вывода данных респондентов -->
                {% for respondent in respondents %}
                <tr>
                    <td>{{ respondent.full_name }}</td>
                    <td>{{ respondent.okved }}</td>
                    <td>{{ respondent.okpo }}</td>
                    <td>{{ respondent.inn }}</td>
<!--                    <td>-->
<!--                        {% if respondent.phone %}-->
<!--                            {{ respondent.phone }}-->
<!--                        {% else %}-->
<!--                            Нет данных-->
<!--                        {% endif %}-->
<!--                    </td>-->
                    <td>{{ respondent.phone }}</td>
                    <td>{{respondent.phone_double</td>
                    <td>{{ respondent.email}}</td>
                    <td>{{ respondent.email_double}}</td>

                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="pagination  text-center justify-content-center">
         {% if page.has_previous %}
             <a href="?page={{ page.previous_page_number }}" class="btn btn-primary">Предыдущая</a>
         {% endif %}
         <span class="current-page">{{ page.number }}</span>
         {% if page.has_next %}
            <a href="?page={{ page.next_page_number }}" class="btn btn-primary">Следующая</a>
         {% endif %}
    </div>
</body>
</html>